<!-- 
    PROPERTY BIND

    We have 3 types of bind:

    () -> HTML calls a function or var on TS file 
        (like mouse and keyboard funciton)
        (on way)

    [] -> TS sends data to HTML`s file 
        (on way)

    [()] -> 
 -->


 <!-- working with NGIF -->
 <button (click)="changeTextVisibility()"> change text visibility</button>
 <!-- This *ngIf will always be used when working
with HTML tags -->
 <p *ngIf="showText">using ngIf</p>
 <!-- ======================== -->
 <!-- this ngIf don`t update the DOM -->
 <!-- We use this if when we`re using TEMPLATE -->
 <!-- <ng-template></ng-template> -->
 <!-- <p [ngIf]="showText">using ngIf</p> -->
 <!-- <ng-template [ngIf]="showText">
    <p>TEMPLATE TEXT</p>
 </ng-template> -->
 <!-- ======================== -->

 <!-- using FOR -->
 <ol>
    <div *ngFor="let name of names">
        <li>{{name}}</li>
    </div>
</ol>